#Classes
public net.minecraft.world.biome.BiomeColorHelper$ColorResolver

#Constructors
public net.minecraft.block.BlockRotatedPillar <init>(Lnet/minecraft/block/material/Material;Lnet/minecraft/block/material/MapColor;)V

#Fields
public-f net.minecraft.block.BlockStem field_149877_a # crop
public net.minecraft.client.audio.MusicTicker field_147678_c # currentMusic
public net.minecraft.client.particle.Particle field_70544_f # particleScale
public net.minecraft.client.particle.Particle field_187126_f # posX
public net.minecraft.client.particle.Particle field_187127_g # posY
public net.minecraft.client.particle.Particle field_187128_h # posZ
public net.minecraft.client.particle.Particle field_187122_b # world
public net.minecraft.client.particle.ParticleManager field_178932_g # particleTypes
public net.minecraft.client.renderer.tileentity.TileEntityChestRenderer field_147503_f # TEXTURE_CHRISTMAS
public net.minecraft.client.renderer.tileentity.TileEntityChestRenderer field_147504_g # TEXTURE_NORMAL
public net.minecraft.client.renderer.tileentity.TileEntityEnderChestRenderer field_147520_b # ENDER_CHEST_TEXTURE
public net.minecraft.entity.item.EntityBoat field_184475_as # deltaRotation
public-f net.minecraft.item.ItemFood field_77855_a # itemUseDuration
public net.minecraft.pathfinding.PathNavigate field_75521_i # lastPosCheck
public net.minecraft.pathfinding.PathNavigate field_188559_m # lastTimeoutCheck
public net.minecraft.pathfinding.PathNavigate field_75520_h # ticksAtLastPos
public net.minecraft.pathfinding.PathNavigate field_188557_k # timeoutCachedNode
public net.minecraft.pathfinding.PathNavigate field_188560_n # timeoutLimit
public net.minecraft.pathfinding.PathNavigate field_188558_l # timeoutTimer
public-f net.minecraft.util.datafix.walkers.Filtered field_188272_a # key
public net.minecraft.world.biome.Biome field_180281_af # GRASS_COLOR_NOISE
public net.minecraft.world.chunk.ChunkPrimer field_177859_b # DEFAULT_STATE
public-f net.minecraft.world.gen.structure.StructureOceanMonument field_186134_b # SPAWN_BIOMES
public-f net.minecraft.world.gen.structure.StructureOceanMonument field_175802_d # WATER_BIOMES
public net.minecraft.world.gen.ChunkGeneratorEnd field_185973_o # islandNoise
public net.minecraft.world.gen.ChunkGeneratorEnd field_73220_k # rand
public net.minecraft.world.gen.NoiseGeneratorImproved field_76312_d # permutations

#Methods
public net.minecraft.block.Block func_149672_a(Lnet/minecraft/block/SoundType;)Lnet/minecraft/block/Block; #setSoundType
public net.minecraft.client.renderer.block.model.ModelBakery func_177596_a(Lnet/minecraft/item/Item;)Ljava/util/List; # getVariantNames
public net.minecraft.entity.ai.RandomPositionGenerator func_191380_b(Lnet/minecraft/util/math/BlockPos;Lnet/minecraft/entity/EntityCreature;)Z # isWaterDestination
public net.minecraft.item.ItemMonsterPlacer func_190909_a(Lnet/minecraft/world/World;Lnet/minecraft/util/math/BlockPos;)D # getYOffset
public net.minecraft.util.datafix.walkers.Filtered func_188271_b(Lnet/minecraft/util/datafix/IDataFixer;Lnet/minecraft/nbt/NBTTagCompound;I)Lnet/minecraft/nbt/NBTTagCompound; # filteredProcess
public net.minecraft.util.datafix.walkers.ItemStackData func_188271_b(Lnet/minecraft/util/datafix/IDataFixer;Lnet/minecraft/nbt/NBTTagCompound;I)Lnet/minecraft/nbt/NBTTagCompound; # filteredProcess
public net.minecraft.util.datafix.walkers.ItemStackDataLists func_188271_b(Lnet/minecraft/util/datafix/IDataFixer;Lnet/minecraft/nbt/NBTTagCompound;I)Lnet/minecraft/nbt/NBTTagCompound; # filteredProcess
public-f net.minecraft.world.biome.Biome func_180626_a(Lnet/minecraft/util/math/BlockPos;)F # getTemperature
public net.minecraft.world.biome.BiomeColorHelper func_180285_a(Lnet/minecraft/world/IBlockAccess;Lnet/minecraft/util/math/BlockPos;Lnet/minecraft/world/biome/BiomeColorHelper$ColorResolver;)I # getColorAtPos
public net.minecraft.world.gen.layer.GenLayer func_75902_a(I)I # nextInt
public net.minecraft.world.gen.ChunkGeneratorEnd func_185960_a(IIII)F # getIslandHeightValue